.form {
    margin: 15px;
    display:flex;
    flex-direction:column;
    width:150px;
}

.number {
    font-size: 30px;
    font-weight:bold;
    padding: 30px;
}


.square {
    margin-top:50px;
    width:40px;
    height:40px;
}
