/*!***********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Content/style.module.scss ***!
  \***********************************************************************************************************************************/
.eTTtVchPo2Vz_EwAl36v {
  padding-top: 50px;
  margin-top: 0px;
  flex-grow: 1;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 100px;
}
/*!**************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Content/component/Form/style.module.scss ***!
  \**************************************************************************************************************************************************/
.yQaPUF4tQZzV9Kcp_mz1 {
  margin: 15px;
  display: flex;
  flex-direction: column;
  width: 150px;
}

.R3FS_OFr5Q0jvXDuKdSU {
  font-size: 30px;
  font-weight: bold;
  padding: 30px;
}

.TKGsh7fQZhO16bP1BVSp {
  margin-top: 50px;
  width: 40px;
  height: 40px;
}
/*!**************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Form/input/style.module.scss ***!
  \**************************************************************************************************************************************/
.YdTOKtZLkVfR9X6X7pOz {
  border: 1px solid black;
  padding: 5px;
  outline: none;
  width: 190px;
  margin-bottom: 10px;
}
/*!***************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Form/button/style.module.scss ***!
  \***************************************************************************************************************************************/
.NhOcimNy25UVffXJtiaQ {
  background-color: yellow;
  border-radius: 2px;
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
/*!*****************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Todo/components/Todoitems/style.module.scss ***!
  \*****************************************************************************************************************************************************/
.vP5Cie78kgFR6dqnwfIA {
  border: 1px solid red;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.vP5Cie78kgFR6dqnwfIA:not(:last-child) {
  margin-bottom: 15px;
}
/*!********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Todo/style.module.scss ***!
  \********************************************************************************************************************************/
.FKmLHz_SvhrExKYAz71Z {
  margin: 15px auto;
  max-width: 250px;
  width: 100%;
}
/*!*********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Table/style.module.scss ***!
  \*********************************************************************************************************************************/
.rmsubTxQ9zgGLc4n0MsU {
  padding: 20px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid white;
}

.yBYtBk8_pvFdmKpZzhRT {
  font-size: 12px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.EN2G_SJrTaqb7nQSaJLT {
  font-size: 10px;
  padding: 5px;
  background-color: brown;
  margin-bottom: 6px;
  width: 190px;
  text-align: center;
}
/*!*****************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Table/Components/Subtitle/style.module.scss ***!
  \*****************************************************************************************************************************************************/
.dttMhG7wTpi7XWs7WWkw {
  margin-bottom: 10px;
}
/*!*******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Table/Components/Subtitle/Subtitleitems/style.module.scss ***!
  \*******************************************************************************************************************************************************************/
.t2hBIZ1Tnr9qbdRpQsdO {
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  font-family: "Montserrat", Arial, sans-serif;
  margin-bottom: 4px;
}
.t2hBIZ1Tnr9qbdRpQsdO:last-child {
  margin-bottom: 6px;
}

.b8QiP_oAFRByyOOwo5gS {
  display: flex;
  text-align: left;
  margin-left: -36px;
}

.QSo0OFXyVexEcXR9zcOQ {
  font-size: 10px;
  color: #ffffff;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 400;
  margin-bottom: 4px;
}
/*!*************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/users/components/list/style.module.scss ***!
  \*************************************************************************************************************************************************/
.DkhsgLUvgGMZEgcEzkqN {
  margin: 30px;
  padding: 30px;
  border: 1px solid black;
  border-radius: 5px;
}
/*!*********************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/users/components/list/components/useritem/style.module.scss ***!
  \*********************************************************************************************************************************************************************/
.rLx6yyMk6USmDgOc4RXS {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
}
/*!**********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Footer/style.module.scss ***!
  \**********************************************************************************************************************************/
.bjaqQDKXsl8OdKhffPzo {
  background-color: black;
  height: 60px;
}
/*!**************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Header/components/menu/style.module.scss ***!
  \**************************************************************************************************************************************************/
.YtCMCB1Q4NwexF3EOFLC {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 0px;
  margin-right: 10px;
}
/*!************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Header/components/menu/menuitems/style.module.scss ***!
  \************************************************************************************************************************************************************/
.R5EYlKRjOHHS7eezqmSD {
  display: flex;
  align-items: center;
  justify-content: center;
}

.J9fa9z2U3PJWew5gsy8G {
  color: white;
  font-weight: 600;
  margin-right: 40px;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 16px;
}
/*!**********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Header/style.module.scss ***!
  \**********************************************************************************************************************************/
.gQGUvMDEepTC9riZ04uF {
  height: 66px;
  background: black;
  display: flex;
  flex-direction: raw;
  align-items: center;
}
/*!***************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Header/components/phone/style.module.scss ***!
  \***************************************************************************************************************************************************/
.OjC2xGAHQqWWrxiVaaoS {
  display: flex;
  flex-direction: column;
}
/*!****************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Header/components/phone/phonenumbers/style.module.scss ***!
  \****************************************************************************************************************************************************************/
.TnrdRGyVj8QrPQjHTdzA {
  color: #ffffff !important;
  text-decoration: none;
  border-bottom: 1px solid #fbdc0c;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}
/*!*********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Header/components/images/Logo/style.module.scss ***!
  \*********************************************************************************************************************************************************/
.LhwZYhVQhejqXFkaQFth {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin-left: 40px;
}
/*!***********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Header/components/images/Social/style.module.scss ***!
  \***********************************************************************************************************************************************************/
.wiowBQT7E8A_y98NAE1f {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
}

.v643DDVRnDtBDJLQlg8n {
  width: 60px;
  height: 60px;
  background-color: black;
  margin-right: 6px;
}
/*!*******************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/App/style.module.scss ***!
  \*******************************************************************************************************************************/
.hDfVRHqgfZFCHd3uevt7 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/*!*****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/style/default.scss ***!
  \*****************************************************************************************************************/
body {
  margin: 0;
}
