.item {
    border: 1px solid red;
    padding: 10px;
    border-radius:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

&:not(:last-child) {
    margin-bottom:15px;
}
}