.Footer {
    background:yellow;
    display:flex;
    align-items:center;
    justify-content: center;
    height:40px;
    display:flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.items {
    color:red;
}